.viewport {
    margin: 10px;
    width: 500px;
    height: 500px;
    position: relative;
    border: 1px solid black;
  }
  .ball {
    width: 20px;
    height: 20px;
    background-color: rgb(128, 0, 113);
    position: absolute; 
    border-radius: 50%;
  }