$font-family: "Montserrat", sans-serif;

// font sizes
$base-font-size: 14px;
$heading-font-size: 24px;
$medium-font-size: 12px;
$small-font-size:10px;
$heading-font-weight: 800;
$title-font-weight: 700;
// colors
$primary-color: #ffffff;
$black: #000000;
$body-text-color: rgba(0, 0, 0, 0.50);
$grey:rgba(255, 255, 255, 0.50);
$link-color: $grey;
$blue: #17C2EC;


// spacings
$title-margin-top: 35px;
$title-margin-top: 32px;

//viewport
$small: 575px;
$medium: 992px;
$large: 1024px;
