.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
  background-color: #333;
  color: white;
}

.sections {
  display: flex;
  gap: 20px;
}

.sections a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
}

.container-main {
  margin: 30px auto; 
  padding: 20px;
  max-width: 600px;
}

.search-section,
.input-section {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 20px;
  width: 100%;
}

.input-section input,
.search-section input {
  width: 80%; 
  height: 20px; 
  padding: 8px; 
}

.input-section input {
  flex: 1; 
  margin-right: 10px; 
}

.input-section button {
  background-color: #333; 
  color: white;
  border: none;
  padding: 8px 12px;
}


.completed {
  text-decoration: line-through;
}


ul li {
  /* list-style: none; */
  /* text-decoration: line-through; */
}