<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../../style/login.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Habit Forge</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <h2>Login</h2>
      <form id="login-form">
        <div class="username-container">
          <input type="text" placeholder="Username" id="login-username" required>
          <div class="invalid-feedback">
          </div>
        </div>
        <div class="password-container">
          <input type="password" placeholder="Password" id="login-password" required>
          <div class="invalid-feedback">
          </div>
        </div>
        <button type="submit" >Login</button>
      </form>
      <p>Don't have an account? <a href="../Signup/signup.html">Signup</a></p>
    </div>
  </div>
  <script type="module" src="./script.ts"></script>
</body>

</html>