<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="/style/signup.css">
</head>
<body>
    <div class="container" id="registration-form">
        <h2>Signup</h2>
        <form>
            <input type="text" placeholder="Username" id="signup-username" required>
            <input type="password" placeholder="Password" id="signup-password" required>
            <input type="email" placeholder="Email" id="signup-email" required>
            <button type="submit">Signup</button>
        </form>
        <p>Already have an account? <a href="/index.html">Login</a></p>
    </div>
    <script></script>
</body>
</html>
